:root {
  --primary-color: #ffffff; /* White */
  --secondary-color: #000000; /* Black */
  --background-color: #5e17eb; /* Purple */
  --text-color: #2a8fc7; /* Blue */
  --footer-color: #ffffff; /* White */
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure body takes full height of the viewport */
}

.app-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Allow container to grow and push footer to the bottom */
}

.main-content {
  flex: 1; /* Allow main content to expand and take available space */
}

.Header {
  background-color: var(--background-color);
  color: var(--primary-color);
  /* Add any additional header styles */
}

.Footer {
  background-color: var(--footer-color);
  color: var(--text-color);
  text-align: center;
  padding: 1rem;
}
