.footer {
  height: 80px; /* Set a fixed height for the header */
  text-align: center;
  padding: 20px 0;
  width: 100%;
  background-color: var(--footer-color);
  color: var(--other-color);
}

.footer p {
  margin: 0;
  font: var(--text-color);
}

.social-links {
  margin-top: 10px;
}

.social-links a {
  color: #333; /* You can use a variable if desired */
  margin-right: 10px;
}

.social-links i {
  font-size: 20px;
}

.svg-icon {
  color: var(--svg-color);
  height: 25px;
}
