/* General Header Styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 80px; /* Set a fixed height for the header */
  background-color: var(--header-color);
  color: var(--primary-color);
}

.logo img {
  height: 75px;
  cursor: pointer;
}

/* Regular Navbar */
.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
}

.navbar ul li a:hover {
  text-decoration: underline;
}

/* Hide mobile nav by default */
.mobile-nav {
  display: none;
}

.mobile-nav.open {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--header-color);
  width: 100%;
  text-align: center;
  padding: 15px 0;
}

.mobile-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-nav ul li {
  margin: 10px 0;
}

.mobile-nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .header{
    flex-direction: row;
    justify-content: space-between;
  }
  /* Hide regular navbar on mobile */
  .navbar {
    display: none;
  }

  /* Logo as mobile menu toggle */
  .mobile-logo {
    height: 75px;
    display: block;
    cursor: pointer;
  }
}
